
@{
    ViewBag.Title = "ShipmentDetails";
}
<!-- breadcrum start -->
<section class="margintop90PX margintop90PX-xs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="~/.">Home</a></li>
                    <li class="active">Shipment Received</li>
                </ol>
            </div>
        </div>
    </div>
</section>
@{Html.RenderPartial("_ShipmentPartial");}
<!-- body content start -->
<section class="margintop20PX">
    <div class="container">
        <div class="row" id="CreateNewOrder">
            <div class="col-sm-12"><h1><i class="fa fa-cart-plus"></i> Create New Order</h1></div>
            <div class="col-sm-4 spacetop20PX-xs">
                <h3 class="bg-light-grey">Shipment To</h3>
                <select class="form-control" id="sel1" SearchSelect='true'>
                    <option></option>
                </select>
                <br>
                <label id="FirstNames"></label> <label id="lastNames"></label><br>
                <label id="Addres1"></label> <label id="Addres2"></label><br>
                <label id="CountryCodes"> </label><label id="States"></label> <label id="City"></label> <label id="PostalCodes"></label><br>
                <label id="MobileNumbers"></label> <br>


            </div>
            <div class="col-sm-4" id="ShippingMethod">
                <h3 class="bg-light-grey ">Shipping Method</h3>
                <ul class="list-unstyled" id="shipmentapi"></ul>
                <div class="alert-yellow">
                    Note: Shipping Charges is only an estimate. Final charges
                    weill be calculated after your order is processed.
                </div>
                <br>
                <div id="Coupon">
                    <h3 class="bg-light-grey">Coupon</h3>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter Code" aria-describedby="basic-addon2">
                        <span class="input-btn-primary btn btn-primary" id="basic-addon2">Apply</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 spacetop20PX-xs" id="PackagingOptions">
                <h3 class="bg-light-grey">Packaging Options</h3>
                <ul class="list-unstyled">
                    @{
                        foreach (var item in ViewBag.optionpackagelist)
                        {
                            <li class="checkbox">
                                <label style="font-size: 1em">
                                    <input value="" type="checkbox">
                                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>@item.title &nbsp;<span class="label label-danger">&nbsp;@String.Format("${0:0.00}", item.price)</span> <a href="#" type="button" data-toggle="tooltip" data-placement="bottom" title="@item.description"><i class="fa fa-question-circle"></i></a>
                                </label>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
        <div class="row margintop20PX">
            <div class="col-sm-12">
                <a href="javascript:return false;" class="btn btn-success btn-lg btn-block" id="SubmitOrderButton">Next <i class="fa fa-long-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>
@section Scripts {

    <script src="~/Areas/User/Content/js/fileinput.min.js"></script>
    <script type="text/javascript">
        var AdressbookDrop=@Html.Raw(Json.Encode(ViewBag.AdressList));
        var DefaultAddress= @Html.Raw(Json.Encode(ViewBag.DefaultAddress));
        $("#FirstNames").text(DefaultAddress.first_name);
        $("#lastNames").text(DefaultAddress.last_name);
        $("#Addres1").text(DefaultAddress.address1+',');
        $("#Addres2").text(DefaultAddress.address2);
        $("#CountryCodes").text(DefaultAddress.country_code +',');
        $("#States").text(DefaultAddress.state +',');
        $("#Citys").text(DefaultAddress.city +',');
        $("#PostalCodes").text(DefaultAddress.post_code +',');
        $("#MobileNumbers").text('M:'+DefaultAddress.mobile1);
        $(function() {
            var target= $("#sel1");
            target.empty();
            $.each(AdressbookDrop,function(i,item){
                target.append("<option value="+ item.Value +">"+item.Text +"</option>")
            })
        });

    </script>
    <script type="text/javascript">
        $("#sel1").change(function(){
            var ID= $("#sel1").val();
            $.ajax({
                url: '/User/Shipment/GetReciveShipmentDetail',
                type: 'POST',
                data: JSON.stringify({"ID":ID}),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                error: function (xhr) {
                    alert('Error: ' + xhr.statusText);
                },
                success: function (result) {
                    $("#FirstNames").text(result.first_name);
                    $("#lastNames").text(result.last_name);
                    $("#Addres1").text(result.address1+',');
                    $("#Addres2").text(result.address2);
                    $("#CountryCodes").text(result.country_code +',');
                    $("#States").text(result.state +',');
                    $("#Citys").text(result.city +',');
                    $("#PostalCodes").text(result.post_code +',');
                    $("#MobileNumbers").text('M:'+ result.mobile1);
                },
                async: true,
                processData: false
            });
        })
    </script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#ShippingMethod").hide();
            $("#PackagingOptions").hide();
            $("#Coupon").hide();
            @Html.Raw(ViewBag.Message);
        });
        $('li[role="presentation"] >a' ).click(function(){
            if($(this).attr('id')==='ReadyTab')
            {
                $("#CreateNewOrder").show();
            }
            else
            {
                $("#CreateNewOrder").hide();
            }
        })
    </script>
    <script type="text/javascript">
        $(function(){
            $.ajax({
                url: '/User/Shipment/defaultAddtessGetShipmentMethod',
                dataType: "json",
                type: "GET",
                contentType: 'application/json; charset=utf-8',
                async: true,
                processData: false,
                cache: false,
                success: function (data) {
                    var Target= $("#shipmentapi");
                    Target.empty();
                    $.each(data,function(i,item){
                        Target.append(" <li class='radio'><label style='font-size:1em'><input name='o5' type='radio' checked='checked' value=''><span class='cr'><i class='cr-icon fa fa-circle'></i></span><span id='des'>"+item.Text +"</span>&nbsp;<span class='label label-default'>"+ item.Value+"</span></label></li>")
                    })
                },
                error: function (xhr) {
                    alert('error');
                }
            });
        })
        $("#sel1").change(function(){
            var ID= $("#sel1").val();
            $.ajax({
                url: '/User/Shipment/GetShipmentMethodCarrierApi',
                type: 'POST',
                data: JSON.stringify({"ID":ID}),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                error: function (xhr) {
                    alert('Error: ' + xhr.statusText);
                },
                success: function (data) {
                    var Target= $("#shipmentapi");
                    Target.empty();
                    Target.append(" <li class='radio'><label style='font-size:1em'><input name='o5' type='radio' checked='checked' value=''><span class='cr'><i class='cr-icon fa fa-circle'></i></span><span id='des'>"+item.Text +"</span>&nbsp;<span class='label label-default'>"+ item.Value+"</span></label></li>")
                },
                async: true,
                processData: false
            });
        })
    </script>
    <script type="text/javascript">
        $("#SubmitOrderButton").click(function(){
            $("#sel1").hide();
            $("#ShippingMethod").show();
            $("#PackagingOptions").show();
            $("#Coupon").show();
            $("#SubmitOrderButton").html($("#SubmitOrderButton").html().replace('Next','Submit New Order'))

        })

        var sumbitform=false;
        $("#SubmitOrderButton").click(function(){

            if($("#SubmitOrderButton"))
            {
                if(sumbitform===false)
                {
                    sumbitform=true;

                }
                else if(sumbitform===true)
                {
                    // Get data Address dropdownPanel
                    var Addressdropid=$("#sel1").children('option').attr('Value');
                    //Get Shipment Checkbox Data Active Panel//
                    var ShipmentCheckboxID = [];
                    $('div.tab-pane.active').find("input[type='checkbox']:checked").each(function (i, obj) { (ShipmentCheckboxID.push(obj.id)) })
                    // Get Packageoption checkbox collect data//
                    var PacakageOptionArray=[];
                    $('div[id="PackagingOptions"]').find('input').each(function(i,obj){
                        if($(this).prop('checked')===true)
                        {

                            var PackageOptionPrice = $(this).next('span').next().text().replace('$','');
                            var PackageOptionTitle = $(this).next('span').next().siblings('a').attr('title');
                            var packageitem={
                                "PackageOptionPrice":PackageOptionPrice,
                                "PackageOptionTitle":PackageOptionTitle
                            };
                        }
                        if (typeof packageitem !== "undefined") {
                            PacakageOptionArray.push(packageitem);
                        }

                    })
                    // Get shiping method radio button collect data//
                    var ShipmentMethodPackage=[];
                    $('div[id="ShippingMethod"]').find('input').each(function(i,obj){
                        if($(this).prop('checked')===true)
                        {
                            var shipmentMethodPrice= $(this).next('span').next().next().text().replace('$','');
                            var shipmentdescription=$(this).next().next().text();

                            var shipMethod={
                                "shipmentMethodPrice":shipmentMethodPrice,
                                "shipmentdescription":shipmentdescription
                            }
                        }
                        if (typeof shipMethod !== "undefined") {
                            ShipmentMethodPackage.push(shipMethod);
                        }
                        
                    });
                    var data=JSON.stringify({ShipmentMethodPackage:ShipmentMethodPackage,PacakageOptionArray:PacakageOptionArray,ShipmentCheckboxID:ShipmentCheckboxID,Addressdropid:Addressdropid});
                    $.ajax({
                        url: '/User/Shipment/CreateShipmentOrder',
                        type: 'POST',
                        data:JSON.stringify({"data":data}),
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            if (data == "") {
                                showMessage('Please select at least one shipment', false);
                        
                            }
                            else
                                showMessage(data, true);
                        }
                    })
                }
            }
        });
    </script>


}