<!-- Content Header (Page header) -->

<!-- Main content -->
<section class="content">
    <!-- Your Page Content Here -->
    <center><h1>Welcome To Admin</h1></center>
</section>
<!-- /.content -->
